<div class="hero-unit">
   <h1>La forma más conveniente de realizar agendamientos</h1>

   <p>Para cientos de centros medicos en Santiago</p>
   
  </div>   
  
 <!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8">  
    <title>Example of using default thumbnails from w3resource.com</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="description" content="Example of using default thumbnails from w3resource.com">  
    <meta name="author" content="">  
  
    <!-- Le styles -->  
    <link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">  
    <link href="twitter-bootstrap-v2/docs/assets/css/example-fixed-layout.css" rel="stylesheet">  
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->  
    <!--[if lt IE 9]>  
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]-->  
  
    <!-- Le fav and touch icons -->  
    <link rel="shortcut icon" href="twitter-bootstrap-v2/docs/examples/images/favicon.ico">  
    <link rel="apple-touch-icon" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon.png">  
    <link rel="apple-touch-icon" sizes="72x72" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-72x72.png">  
    <link rel="apple-touch-icon" sizes="114x114" href="twitter-bootstrap-v2/docs/examples/images/apple-touch-icon-114x114.png">  
  </head>  
  
  <body>  
    <div class="container">  
      <ul class="thumbnails">  
  <li class="span4">  
    <a href="http://img.photobucket.com/albums/v234/marfue179/Interior-Centro-Meacutedico-Esteacutetico-Derm-Neo-Beige-Design-10_zps40f1e692.jpg" class="thumbnail">  
      <img src="http://img.photobucket.com/albums/v234/marfue179/Interior-Centro-Meacutedico-Esteacutetico-Derm-Neo-Beige-Design-10_zps40f1e692.jpg" alt="php tutorial" width="260" height="140" />  
    </a>  
  </li>  
 <li class="span4">  
    <a href="http://www.w3resource.com/sql/tutorials.php" class="thumbnail">  
      <img src="http://img.photobucket.com/albums/v234/marfue179/152088src_zps81ee17fe.jpg" alt="mysql tutorial" width="260" height="140" />  
    </a>  
  </li>  
 <li class="span4">  
    <a href="http://www.w3resource.com/javascript/javascript.php" class="thumbnail">  
      <img src="http://img.photobucket.com/albums/v234/marfue179/spa-2-520_zps331f1522.jpg" alt="js tutorial" width="260" height="140" >  
    </a>  
  </li>  
</ul>  
<hr>  
</div> <!-- /container -->  
</body>  
</html>  


<div id="request-invite" class="modal" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Request Invitation</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>
      <%= f.input :email, :placeholder => 'user@example.com' %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Request Invitation", :class => "btn btn-primary", :id => 'invitation_button' %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>
<div id="romance-copy" style="text-align: center; margin-top: 80px">
  <h2>Want in?</h2>
</div>
<div id="call-to-action" style="text-align: center; margin-top: 80px">
  <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Request invite</a>
</div>
